@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized>
        <a href="Identity/Manage/Index">
            Hello, @context.User.Identity.Name!
        </a>
        <form method="post" action="/Identity/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Register">Register</a>
        <a href="Identity/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>